menu "Async Console Configuration"

    config ASYNC_CONSOLE_MAX_CMDLINE_ARGS
        int "Maximum command line arguments"
        default 8
        help
            Maximum number of elements parsed by the console.
            Note: ESP-IDF reserves 1 slot for the command name and 1 slot for a NULL terminator.
            Therefore, a value of 16 allows a command name + 14 arguments.

    config ASYNC_CONSOLE_MAX_CMDLINE_LENGTH
        int "Maximum command line length"
        default 256
        help
            Maximum length of a command line in bytes.

endmenu
